/* || General setup */

/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

.header
 {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  color: purple;
  background:#4AA85C;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lemonada', cursive;
  font-weight: 700;

}