/* stylesheet for assignment 1 */

/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

div.header
 {
  background:rgba(215, 147, 0, 0.67); /* Header Bckg Color */
  color: white; /* Text color */
  /*enables elements within page to resize as page-size changes */
  display: flex;
  justify-content: space-between; /* Elements within header are centered */

  flex-direction: row; /* Elements stacks up horizontally */
  flex-wrap: wrap; /* Elements wrap as image resizes */
  justify-content: spac;




  margin-bottom: 15px; /* header has a 25px bottom margin */


}

.header img{
  width: 140px;
}