/* stylesheet for assignment 1 */

/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

div.header
 {
   /* Typography*/
  background:rgba(215, 147, 0, 0.67); /* Header Bckg Color */
  font-family: 'Rammetto One', cursive; /* Sets font of text */
  color: white; /* Text color */
  padding: 10px;
  font-size: 20 px;
  font-weight: bold;

  display: flex;/*enables elements within page to resize as page-size changes */
  justify-content: space-between; /* Places name to the left, logo to the right*/
  flex-wrap: wrap; /* The wrap value specifies that the flex items will wrap if necessary */
  margin-bottom: 15px; /* header has a 25px bottom margin */
  flex-direction: row; /* stacks elements horizontally */
  align-items: center; /*aligns the flex items in the middle of the container */
  flex-flow: row wrap; /* shorthand property for setting both the flex-direction and flex-wrap properties */
}

div.header img
{
  width: 140px;
}
div.image-caption
{
  width: 180px;
}