/* stylesheet for assignment 1 */

/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

.header
 {
   /* Typography*/
  background:rgba(215, 147, 0, 0.67); /* Header Bckg Color */
  font-family: 'Rammetto One', cursive; /* Sets font of text */
  color: white; /* Text color */
  padding: 15px;
  font-size: 50 px;
  font-weight: 650;

  display: flex;/*enables elements within page to resize as page-size changes */
  justify-content: space-between; /* Places name to the left, logo to the right*/
  flex-wrap: wrap; /* The wrap value specifies that the flex items will wrap if necessary */
  margin-bottom: 15px; /* header has a 25px bottom margin */
  flex-direction: row; /* stacks elements horizontally */
  align-items: center; /*aligns the flex items in the middle of the container */
  flex-flow: row wrap; /* shorthand property for setting both the flex-direction and flex-wrap properties */
}

.header img
{
  width: 140px;
}
.profile 
{
  width: 160px;
}

.content_body
{
  width: 950px;
}

.wrapper
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}