/* stylesheet for assignment 1 */
/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

.header
 {
  background:rgba(215, 147, 0, 0.67); /* Header Bckg Color */
  color: white; /* Text color */

  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  color: white;
  
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lemonada', cursive;
  font-weight: 700;

}

.header img{
  width: 140px;
}