/* stylesheet for assignment 1 */

/*Set the backgroud color*/
body {background-color: rgba(0, 86, 111, 1);}

.header
 {
   /* Typography*/
  background:rgba(215, 147, 0, 0.67); /* Header Bckg Color */
  font-family: 'Rammetto One', cursive; /* Sets font of text */
  color: white; /* Text color */
  padding: 15px;
  font-size: 50 px;
  font-weight: 650;

  display: flex;/*enables elements within page to resize as page-size changes */
  justify-content: space-between; /* Places name to the left, logo to the right*/
  flex-wrap: wrap; /* The wrap value specifies that the flex items will wrap if necessary */
  margin-bottom: 15px; /* header has a 25px bottom margin */
  flex-direction: row; /* stacks elements horizontally */
  align-items: center; /*aligns the flex items in the middle of the container */
  flex-flow: row wrap; /* shorthand property for setting both the flex-direction and flex-wrap properties */
}

.header img
{
  width: 140px;
}
.profile 
{
  width: 160px;
}

.content_body
{
  width: 950px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.wrapper
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
}




.image_section
{
  display: flex;
  flex-flow: row wrap;
  flex:0 1 auto;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.experience_section
{
  width: 600px;
  border-radius: 4px;
  border: 10px solid blue;
  background: yellow;
  color: white;
}

.caption
{
  border: 1px solid blue;
  max-width: 200px;
  padding: 30px;
  background: white;
  /* margin-bottom: 115px; */
  color: #A85211;
}