/* stylesheet for assignment 1 */

/*Set the backgroud color*/
body {background-color: rgba(0, 140, 194, 0.44);}

.header{

   /* Typography*/
  background:rgb(104, 86, 5); /* Header Bckg Color */
  font-family: 'Rammetto One', cursive; /* Sets font of text */
  color: white; /* Text color */
  font-size: 70 px;
  font-weight: 600;
  margin: -8px -8px 15px -8px;
  align-items: center; /*  elements are vertically centered */
  height: fit-content;
  display: flex;/*enables elements within page to resize as page-size changes */
  margin-bottom: 15px; /* header has a 15px bottom margin */
  padding: 10px; padding-bottom: 10px;
  justify-content: space-between; /* Places name to the left, logo to the right*/
  flex-direction: row; /* stacks elements horizontally */
  align-items: center; /*aligns the flex items in the middle of the container */
  
}

.header img{ width: 130px;}
.profile { 
  max-width: 160px;
  border: 1px solid black;
  border-radius: 4px;
}



.wrapper{
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: whitesmoke;
}

.content{
  max-width: 960px; 
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center; 
  
  
  flex-flow: row wrap;
  

}
.image-section{
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}
.experience_section{
  width: 780px;
  height: 500px;
  background: lightgoldenrodyellow;
  color: black;
  border: 3px solid black;
}

.caption
{
  width: 160px;
  align-self: center;
  background: lightgoldenrodyellow;
  border: 2px solid black;
  color: black;
}



@media screen and (max-width: 1000px){

  .header{
    background: rgb(255, 204, 0);
  }

  .content{
    justify-content: center;
    justify-content: space-evenly;
}
  .image-section{
    flex-flow: row wrap;
    justify-items: space-evenly;
    align-content: space-between;
    margin-bottom: 20px;  
}
  .profile{
    max-width: 160px;
  }

  .caption{
    align-self: center;
    
}
  .experience_section{
    justify-content:center;
}
}
