body {
  font-size: 20px;
  background-color: #eae7dc; 

}
header{
  background-color: #d8c3a5;
 display: flex;
flex-direction: column;
align-items: center;
border-style: solid;
}
h1{
color: #e85a4f;
}
nav a{
font-size: 20px;
color : black;


}
nav li {
display: inline-block;
position: relative;
margin-top: 0px;
margin-right: 10px;
margin-left: 10px;

}

nav a:hover {

}

nav a::before {
content: '';
display: block;
height: 5px;
background-color: #e98084;

position: absolute;
top: 10;
width: 0%;

transition: all ease-in-out 250ms;
}

nav a:hover::before {
width: 100%;
}

