body {
    font-size: 20px;
    background-color: #13222E; 
    color: #EEFBFB;
  }

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }

  header h1{
    border-style: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  }

  h2{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h3{
    margin-bottom: 0px;
    color: #9B8148;
  }
  
  .about{  
    
    background-color: #034874;
    display: flex;
    flex-direction: column;
    
    margin: 50px;
    padding: 100px;

    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  }

  .about-me img{
    border-radius: 20px;
  }

  header h1{
    color: #ffc400;
  }
  



  
   /* Animation on page buttons */
   nav a{
    font-size: 20px;
    color : rgb(217, 163, 0);
  }
  
  nav li {
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  nav a::after {
    content: '';
    display: block;
    height: 4px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    top: 10;
    width: 0%;
    transition: ease-in-out 300ms;
  }
  
  nav a:hover::after {
    width: 100%;
  }

  /** Info about me */

  img{
      margin-right: 3%;
  }

  .about-me{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 10%;
      margin-left: 10%;
      
  }
  
  
  
  